/*Estrutura do Site*/
*{
    padding: 0;
    margin: 0;

}
body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: #fff url(assets/imagens/fundo.png) repeat-x;
}
#topo{
    height: 150px;
    padding-top: 25px;
    background: url(../imagens/detalhe-top.png) no-repeat right top;
}
#container{
    width: 750px;
    margin: 0 auto;

}

.logo{
    width: 152px;
    height: 66px;
    background: url(assets/imagens/logo.png) no-repeat center;
    text-indent: -3000px
}
h2{
    font-size: 1em;
    background: #294c71;
    color: #fff;
    padding: 5px;
}

/*Barra de Navegações*/


ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
#topo ul{
    margin-top: 30px;
    background: #b10333;
    float: left;
}

#topo ul li{
    float: left;
}
#topo ul a{
    font-size: 0.9em;
    display: block;
    padding: 0.5em 1.5em;
    line-height: 2.1em;
    text-decoration: none;
    color: #fff;
    background: url(assets/imagens/divisor.png) no-repeat left center;
}
#topo ul .primeiro a{
    background: none;
}
#topo ul a:hover{
    color: #69001d;

}
body.home #nav a#home,
body.brasil #nav a#brasil,
body.internacional #nav a#internacional,
body.fotos #nav a#fotos,
body.ciencia #nav a#ciencia,
body.saude #nav a#saude,
body.economia #nav a#economia{
    color: #fff;
    background: #de003e;
    cursor: text;

}
/*Configurar Layout de 3 colunas*/

#conteudo{
    background: #f5f5f5;
    margin-top: 60px;
}
#tres_colunas #primario{
    width: 270px;
    float: left;
    margin: 0 0 20px 195px;
    background: blue;
}
#duas_colunas #primario{
    width: 555px;
    float: left;
}
#uma_coluna #primario{
    width: 750px;
    margin-bottom: 20px;
}

#lateral{
    width: 180px;
    float: left;
    margin: 0 0 20px -750px;
}
#primario{
    width: 270px;
    float: left;
    margin: 0 0 20px 195px;
    background: blue;
}
#secundario{
   width: 270px;
   background: green;
   float: left;
   margin: 0 0 20px 15px;
}

#container-rodape{
    background: #294c71;
    padding: 20px;
}
#rodape{
    width: 750px;
    margin: 0 auto;
    color: #fff;
}
/*Caixa*/

.caixa{
    background: #f3f3f3 url(assets/imagens/fundo-caixa.png);
    margin: 10px 0;
    padding-top: 5px;
    padding-bottom: 5px;
}
.caixa_conteudo{
    background: #fff;
    padding: 5px;
    margin-top: 5px;
}
